{
  "presets": [
    "react",
    "env"
  ],
  "plugins": [
    "transform-object-assign",
    "transform-class-properties",
    "transform-react-inline-elements",
    "babel-plugin-transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    },
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "lodash"
      ]
    }
  }
}
